workflows/recebendo dados calendly (CONTA 1).json
{
  "active": true,
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "atualizar na planilha typeform",
            "type": "main",
            "index": 0
          },
          {
            "node": "aguardar 1 minuto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data início1": {
      "main": [
        [
          {
            "node": "Hora início1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hora início1": {
      "main": [
        [
          {
            "node": "Hora término1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hora término1": {
      "main": [
        [
          {
            "node": "Lembrete 2h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem Cancelamento lead2": {
      "main": [
        [
          {
            "node": "Enviar e-mail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Número para validar telefone1": {
      "main": [
        [
          {
            "node": "Validar Telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 2h": {
      "main": [
        [
          {
            "node": "Formatar 2h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar 2h": {
      "main": [
        [
          {
            "node": "Número para validar telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separando nome e sobrenome": {
      "main": [
        [
          {
            "node": "separando nome e sobrenome1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone1": {
      "main": [
        [
          {
            "node": "separando nome e sobrenome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separando nome e sobrenome1": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência1": {
      "main": [
        [
          {
            "node": "Inserir/atualizar na planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aguardar 1 minuto": {
      "main": [
        [
          {
            "node": "Enviar Mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir/atualizar na planilha": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendly Trigger1": {
      "main": [
        [
          {
            "node": "Data início1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-26T03:59:09.444Z",
  "id": "2",
  "meta": null,
  "name": "recebendo dados calendly (CONTA 1)",
  "nodes": [
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Calendly Trigger1\"].json[\"event\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "invitee.created"
            },
            {
              "value2": "invitee.canceled",
              "output": 1
            }
          ]
        }
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3920,
        460
      ],
      "id": "700c87fa-5b05-4493-9300-a006bf3baa6b"
    },
    {
      "parameters": {
        "scope": "organization",
        "events": [
          "invitee.created",
          "invitee.canceled"
        ]
      },
      "name": "Calendly Trigger1",
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        1300,
        460
      ],
      "webhookId": "a3f0c184-5b99-4e45-a1d9-8cab42f43ea5",
      "id": "5f8fa3cb-07a0-4fa6-8486-50ef30bd66c2",
      "credentials": {
        "calendlyApi": {
          "id": "3",
          "name": "Calendly account"
        }
      }
    },
    {
      "parameters": {
        "value": "={{$json[\"payload\"][\"event\"][\"start_time\"]}}",
        "dataPropertyName": "data_inicio",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {
          "toTimezone": "America/Sao_Paulo"
        }
      },
      "name": "Data início1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1520,
        460
      ],
      "id": "319651d7-55d2-415d-93d4-37ff9fa34ab4"
    },
    {
      "parameters": {
        "value": "={{$json[\"payload\"][\"event\"][\"start_time\"]}}",
        "dataPropertyName": "hora_inicio",
        "custom": true,
        "toFormat": "HH:mm",
        "options": {
          "toTimezone": "America/Sao_Paulo"
        }
      },
      "name": "Hora início1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1740,
        460
      ],
      "id": "64a243fc-c529-498d-8eff-9bb0116a3569"
    },
    {
      "parameters": {
        "value": "={{$json[\"payload\"][\"event\"][\"end_time\"]}}",
        "dataPropertyName": "hora_término",
        "custom": true,
        "toFormat": "HH:mm",
        "options": {
          "toTimezone": "America/Sao_Paulo"
        }
      },
      "name": "Hora término1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1960,
        460
      ],
      "id": "759730d7-44f3-42d7-b441-eb2c38fef67f"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node['Validar Telefone1'].json.whatsapp }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.Nome }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.Sobrenome }}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3440,
        460
      ],
      "id": "195445d7-a37a-4039-ab12-89bf93e114a8",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BC GMR"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrando na Audiência1\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=Excelente, *{{ $node[\"separando nome e sobrenome1\"].json[\"Nome\"] }}*.\nSua reunião está agendada para às *{{$node[\"Hora início1\"].json[\"hora_inicio\"]}}* do dia *{{$node[\"Data início1\"].json[\"data_inicio\"]}}*. Você já deve ter recebido no e-mail sobre.\n\nReforçando a importância de todos os sócios (se houver) envolvidos participarem da nossa reunião. É de extrema importância para a estratégia em conjunto, visando o sucesso do seu negócio.\n\nQualquer duvida estamos a disposição. Até lá! "
            }
          ]
        }
      },
      "name": "Enviar Mensagem1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4620,
        380
      ],
      "id": "e2685fba-ef44-4106-be31-8e4bc62fdc01",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BC GMR"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{{ $node[\"Cadastrando na Audiência1\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=Olá, {{ $node[\"separando nome e sobrenome1\"].json[\"Nome\"] }}. Recebemos seu pedido de cancelamento da nossa reunião agendada para *{{$node[\"Data início1\"].json[\"data_inicio\"]}}* às *{{$node[\"Hora início1\"].json[\"hora_inicio\"]}}*.\n\nCaso você tenha feito um reagendamento, não se preocupe. Você receberá a confirmação do novo dia e novo horário logo em seguida.\n\nCaso contrário, você pode remarcar apenas clicando aqui\nhttps://calendly.com/gustavomagalhaes/35min\n\nSerá um prazer poder apresentar os pontos que levantamos e que acredito que vai te ajudar a organizar seu marketing digital e a alcançar seus objetivos.\n\nObrigado e até breve!"
            }
          ]
        }
      },
      "name": "Enviar Mensagem Cancelamento lead2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4580,
        1160
      ],
      "id": "999e4495-50fd-4b02-9616-87d91230a12b",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BC GMR"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/3961661/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=*CANCELAMENTO DE REUNIÃO*\n\nNome: {{$node[\"Google Sheets3\"].json[\"Nome\"]}}\nTelefone: {{$node[\"Google Sheets3\"].json[\"WhatsApp\"]}}\nInstagram e Site: {{$node[\"Google Sheets3\"].json[\"Instagram e Site\"]}}\n\nCancelamento confirmado de Reunião com Marcelo Zouki da MZK Mídia em {{$node[\"Google Sheets3\"].json[\"Data\"]}} às {{$node[\"Google Sheets3\"].json[\"Hora Início\"]}}."
            }
          ]
        }
      },
      "name": "Enviar Mensagem Cancelamento lead3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        5120,
        1440
      ],
      "id": "6bde14ac-074f-42f5-a30f-3414ab16483c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "BC GMR"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "683f20eb-d622-4f49-9229-df23462f459c",
      "name": "Número para validar telefone1",
      "type": "n8n-nodes-base.set",
      "position": [
        2580,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "var whatsapp = items[0].json.telefone.replace(/\\D/g, '');\nvar ddd = whatsapp.slice(2,4);\nvar ddi = whatsapp.charAt(0);\nvar ddx = whatsapp.slice(0,2);\nvar length = whatsapp.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = whatsapp.slice(0,3);\n    whatsapp = parseInt(whatsapp.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      whatsapp = parseInt(whatsapp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      whatsapp = parseInt(whatsapp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  whatsapp = parseInt(whatsapp).toString();\n  ddi = 'não informado';\n}\n\nddd = whatsapp.slice(0,2);\nwhatsapp = whatsapp.slice(2);\nif (ddd > 28){\n  whatsapp = whatsapp.slice(-8);\n} else {\n  whatsapp = '9'+whatsapp.slice(-8);\n}\nvar whatsapp = '+55'+ddd+whatsapp;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      whatsapp   \n    }\n  }\n];"
      },
      "id": "d9b5032f-65e4-4ca4-bf49-1477076412ad",
      "name": "Validar Telefone1",
      "type": "n8n-nodes-base.function",
      "position": [
        2780,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{$json[\"hora_inicio\"]}}",
        "operation": "subtract",
        "duration": 2,
        "timeUnit": "hours",
        "dataPropertyName": "Lembrete2h",
        "options": {
          "fromFormat": "HH:mm"
        }
      },
      "name": "Lembrete 2h",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        2160,
        460
      ],
      "id": "1d3403a4-df8f-49ba-925e-1e9f8b4753e6"
    },
    {
      "parameters": {
        "value": "={{$json[\"Lembrete2h\"]}}",
        "dataPropertyName": "Lembrete2h",
        "custom": true,
        "toFormat": "HH:mm",
        "options": {}
      },
      "name": "Formatar 2h",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        2360,
        460
      ],
      "id": "7c27831c-48f5-4c07-b163-3c40ef602461"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nomeCompleto",
              "value": "={{ $node['Calendly Trigger1'].json.payload.invitee.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "282c49b0-9bac-432b-8786-6c0323dbf974",
      "name": "separando nome e sobrenome",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3000,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obter a string de nome completo do nó anterior\nconst nomeCompleto = items[0].json.nomeCompleto;\n\n// Função para separar o nome completo em nome e sobrenome\nfunction separarNomeSobrenome(nomeCompleto) {\n  // Verificar se o nome completo é uma string\n  if (typeof nomeCompleto !== 'string') {\n    throw new Error('O nome completo deve ser uma string.');\n  }\n\n  // Dividir o nome completo em palavras\n  const palavras = nomeCompleto.trim().split(' ');\n\n  // Verificar se há mais de uma palavra\n  if (palavras.length === 0) {\n    throw new Error('O nome completo deve conter pelo menos um nome.');\n  }\n\n  // Extrair o primeiro nome\n  const primeiroNome = palavras.shift();\n\n  // Extrair o sobrenome\n  const sobrenome = palavras.length > 0 ? palavras.join(' ') : '.';\n\n  // Formatar o nome e sobrenome com a primeira letra de cada palavra em maiúscula\n  const nomeFormatado = formatarNome(primeiroNome);\n  const sobrenomeFormatado = formatarNome(sobrenome);\n\n  return {\n    nome: nomeFormatado,\n    sobrenome: sobrenomeFormatado\n  };\n}\n\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .split(' ')\n    .map((palavra) => palavra.charAt(0).toUpperCase() + palavra.slice(1))\n    .join(' ');\n}\n\n// Separar o nome completo em nome e sobrenome\nconst resultado = separarNomeSobrenome(nomeCompleto);\n\n// Armazenar o nome e sobrenome nos campos desejados\nreturn {\n  json: {\n    Nome: resultado.nome,\n    Sobrenome: resultado.sobrenome\n  }\n};\n"
      },
      "id": "fdc9cb70-4ef0-4351-b99d-fb251a02a8bd",
      "name": "separando nome e sobrenome1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3200,
        460
      ]
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "name": "aguardar 1 minuto",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4380,
        380
      ],
      "webhookId": "f64397c9-d109-44e0-8235-3a3f716bac72",
      "id": "4c313baf-9c71-4641-8b59-52d9b57e79a9"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "126PwxIZBvTRZ7izBzFb7hc2JA0TGwRdvW3qkBuuGRbI",
          "mode": "list",
          "cachedResultName": "Agendamentos Calendly - GMR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/126PwxIZBvTRZ7izBzFb7hc2JA0TGwRdvW3qkBuuGRbI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agendamentos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/126PwxIZBvTRZ7izBzFb7hc2JA0TGwRdvW3qkBuuGRbI/edit#gid=0"
        },
        "columnToMatchOn": "ID",
        "valueToMatchOn": "={{ $node['Calendly Trigger1'].json.payload.invitee.uuid }}",
        "fieldsUi": {
          "values": [
            {
              "column": "ID BC",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "column": "Nome",
              "fieldValue": "={{ $json.full_name }}"
            },
            {
              "column": "Email",
              "fieldValue": "={{ $node['Calendly Trigger1'].json.payload.invitee.email }}"
            },
            {
              "column": "WhatsApp",
              "fieldValue": "={{ $json.phone }}"
            },
            {
              "column": "Data",
              "fieldValue": "={{ $node['Formatar 2h'].json.data_inicio }}"
            },
            {
              "column": "Hora Início",
              "fieldValue": "={{ $node['Formatar 2h'].json.hora_inicio }}"
            },
            {
              "column": "Lembrete 2h antes",
              "fieldValue": "={{ $node['Formatar 2h'].json.data_inicio }} {{ $node['Formatar 2h'].json.Lembrete2h }}"
            },
            {
              "column": "Cancelado em",
              "fieldValue": "={{ $node['Calendly Trigger1'].json.payload.event.canceled_at }}"
            },
            {
              "column": "Cancelado",
              "fieldValue": "={{ $node['Calendly Trigger1'].json.payload.event.canceled }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1de6086-2530-4874-b8c2-2c251455b7d0",
      "name": "Inserir/atualizar na planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        3680,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": " gustavomagalhaes.digitalocean@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "teste",
        "toEmail": "={{ $node['Calendly Trigger1'].json.payload.invitee.email }}",
        "subject": "={{ $node['Calendly Trigger1'].json.payload.event_type.name }}",
        "text": "=Excelente, *{{ $node[\"separando nome e sobrenome1\"].json[\"Nome\"] }}*.\nSua reunião está agendada para às *{{$node[\"Hora início1\"].json[\"hora_inicio\"]}}* do dia *{{$node[\"Data início1\"].json[\"data_inicio\"]}}*. Você já deve ter recebido SMS e WahsApp sobre.\n\nReforçando a importância de todos os sócios (se houver) envolvidos participarem da nossa reunião. É de extrema importância para a estratégia em conjunto, visando o sucesso do seu negócio\n\nAtt; GMR Mídias.\n\n\n_Qualquer dúvida estamos a disposição, até lá!_",
        "options": {}
      },
      "id": "3d09bf5e-e035-477e-bc50-7af97065e2bb",
      "name": "Enviar e-mail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        5480,
        1080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "teste",
        "toEmail": "={{ $node['Calendly Trigger1'].json.payload.invitee.email }}",
        "text": "=Olá, {{ $node[\"separando nome e sobrenome1\"].json[\"Nome\"] }}. Recebemos seu pedido de cancelamento da nossa reunião agendada para *{{$node[\"Data início1\"].json[\"data_inicio\"]}}* às *{{$node[\"Hora início1\"].json[\"hora_inicio\"]}}*.\n\nCaso você tenha feito um reagendamento, não se preocupe. Você receberá a confirmação do novo dia e novo horário logo em seguida.\n\nCaso contrário, você pode remarcar apenas clicando aqui\nhttps://calendly.com/gustavomagalhaes/35min\n\nSerá um prazer poder apresentar os pontos que levantamos e que acredito que vai te ajudar a organizar seu marketing digital e a alcançar seus objetivos.\n\nObrigado e até breve!",
        "options": {}
      },
      "id": "f8ac0282-e442-4dce-b156-baa8105694a3",
      "name": "Enviar e-mail1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        4840,
        1160
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "4467517082",
        "groupId": "novo_grupo",
        "name": "={{ $json.payload.invitee.name }}",
        "additionalFields": {
          "columnValues": "={\n\t\"NUMERO\": \"{{ $node[\"Calendly Trigger1\"].json[\"payload\"][\"questions_and_answers\"][0][\"answer\"] }}\",\n\t\"EMAIL\": \"{{ $node[\"Calendly Trigger1\"].json[\"payload\"][\"invitee\"][\"email\"] }}\",\n\t\"DATA E HORA REUNIÃO\": \"{{ $node[\"Calendly Trigger1\"].json[\"payload\"][\"event\"][\"invitee_start_time\"].slice(8,10) }}/{{ $node[\"Calendly Trigger1\"].json[\"payload\"][\"event\"][\"invitee_start_time\"].slice(5,7) }}/{{ $node[\"Calendly Trigger1\"].json[\"payload\"][\"event\"][\"invitee_start_time\"].slice(0,4) }} {{ $node[\"Calendly Trigger1\"].json[\"payload\"][\"event\"][\"invitee_start_time\"].slice(11,16) }}\"\n}"
        }
      },
      "id": "6298e82c-2043-4a1f-bca8-d075ae0343e5",
      "name": "Monday.com",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1520,
        660
      ],
      "credentials": {
        "mondayComApi": {
          "id": "2",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "126PwxIZBvTRZ7izBzFb7hc2JA0TGwRdvW3qkBuuGRbI",
          "mode": "list",
          "cachedResultName": "Agendamentos Calendly - GMR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/126PwxIZBvTRZ7izBzFb7hc2JA0TGwRdvW3qkBuuGRbI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1739459961,
          "mode": "list",
          "cachedResultName": "leads_typeform",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/126PwxIZBvTRZ7izBzFb7hc2JA0TGwRdvW3qkBuuGRbI/edit#gid=1739459961"
        },
        "columnToMatchOn": "E-mail",
        "valueToMatchOn": "={{ $node['Calendly Trigger1'].json.payload.invitee.email.toLowerCase() }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Agendou?",
              "fieldValue": "✅"
            }
          ]
        },
        "options": {}
      },
      "id": "195cb74c-99b6-40d9-b26f-6cbf792787b9",
      "name": "atualizar na planilha typeform",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        4140,
        160
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": " gustavomagalhaes.digitalocean@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $node['Calendly Trigger1'].json.payload.invitee.email }}",
        "subject": "={{ $node['Calendly Trigger1'].json.payload.event_type.name }}",
        "message": "=Excelente, {{ $node[\"separando nome e sobrenome1\"].json[\"Nome\"] }}.\nSua reunião está agendada para às {{$node[\"Hora início1\"].json[\"hora_inicio\"]}} do dia {{$node[\"Data início1\"].json[\"data_inicio\"]}}. Você já deve ter recebido SMS e WhatsApp sobre.\n\nReforçando a importância de todos os sócios (se houver) envolvidos participarem da nossa reunião. É de extrema importância para a estratégia em conjunto, visando o sucesso do seu negócio\n\nAtt; GMR Mídias.\n\n\nQualquer dúvida estamos a disposição. Até lá!",
        "options": {}
      },
      "id": "127279e5-e50b-4b07-afe3-4a04dfbe852e",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        4860,
        380
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "8",
          "name": "gmrmidias@gmail.com"
        }
      }
    }
  ],
  "pinData": {
    "Calendly Trigger1": [
      {
        "json": {
          "event": "invitee.created",
          "payload": {
            "event_type": {
              "uuid": "f78781d2-aa39-413f-9bf5-6298f38c2842",
              "kind": "One-on-One",
              "slug": "35min",
              "name": "Reunião de Pré Contratação",
              "duration": 30,
              "owner": {
                "type": "users",
                "uuid": "f1af532c-1986-41fa-bce4-311110e3ff1c"
              }
            },
            "event": {
              "uuid": "4a886a77-ae8b-4b40-b7b0-e38d353da1be",
              "assigned_to": [
                "Gustavo Magalhaes Ramalho "
              ],
              "extended_assigned_to": [
                {
                  "name": "Gustavo Magalhaes Ramalho ",
                  "email": "gustavomagalhaesramalhi999@gmail.com",
                  "primary": true
                }
              ],
              "start_time": "2023-07-13T18:00:00-03:00",
              "start_time_pretty": "06:00pm - Thursday, July 13, 2023",
              "invitee_start_time": "2023-07-13T18:00:00-03:00",
              "invitee_start_time_pretty": "06:00pm - Thursday, July 13, 2023",
              "end_time": "2023-07-13T18:30:00-03:00",
              "end_time_pretty": "06:30pm - Thursday, July 13, 2023",
              "invitee_end_time": "2023-07-13T18:30:00-03:00",
              "invitee_end_time_pretty": "06:30pm - Thursday, July 13, 2023",
              "created_at": "2023-07-13T16:43:32-03:00",
              "location": "https://calendly.com/events/4a886a77-ae8b-4b40-b7b0-e38d353da1be/google_meet",
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "invitee": {
              "uuid": "3137bae0-e0f4-45a1-87f3-e8365a1ba1de",
              "first_name": "Kaique",
              "last_name": "Rodrigues",
              "name": "Kaique Rodrigues",
              "email": "kleyvisonvasconcelos@gmail.com",
              "text_reminder_number": "+55 17 99600-2708",
              "timezone": "America/Sao_Paulo",
              "created_at": "2023-07-13T16:43:32-03:00",
              "is_reschedule": false,
              "payments": [],
              "canceled": false,
              "canceler_name": null,
              "cancel_reason": null,
              "canceled_at": null
            },
            "questions_and_answers": [
              {
                "question": "Adicione o mesmo número de telefone preenchido no formulário da página anterior",
                "answer": "+55 17 99600-2708"
              }
            ],
            "questions_and_responses": {
              "1_question": "Adicione o mesmo número de telefone preenchido no formulário da página anterior",
              "1_response": "+55 17 99600-2708"
            },
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "old_event": null,
            "old_invitee": null,
            "new_event": null,
            "new_invitee": null
          },
          "time": "2023-07-13T19:43:32Z"
        }
      }
    ]
  },
  "settings": {},
  "staticData": {
    "node:Calendly Trigger1": {
      "webhookId": 4620360
    },
    "node:Calendly Trigger": {
      "webhookId": 3901913
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-02-28T17:00:30.000Z",
  "versionId": "bee921cd-e572-4cc3-b06d-7a46d4e1f214"
}